<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="templateAdmin">
<head>
<meta charset="UTF-8">
<title>Dashboard Admin</title>
</head>
<body>
<div layout:fragment="content">
	<div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Modifier Spectacle</h5>
              </div>
              <div class="card-body">
                <form th:action="@{modifierSpectacle}" method="post" enctype="multipart/form-data">
                  <div class="row">
                     <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Titre : </label>
                        <input type="text" class="form-control" placeholder="titre" name="title" th:value="${spectacle.titre}">
                      </div>
                    </div>
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>duree : </label>
                        <input type="text" class="form-control" placeholder="duree" name="duree" th:value="${spectacle.duree}">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">realisateur : </label>
                        <input type="text" class="form-control" placeholder="realisateur" name="realisateur" th:value="${spectacle.realisateur}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>categorie : </label>
                        <select name="categorie" class="form-control" >
						  <option th:text="${c.nom}" th:each="c:${categories}" th:value="${c.id}" th:selected="${c.id == spectacle.categorie.id}"></option>
						</select>
                      </div>
                    </div> 
                    
             	<div class="col-md-6 pl-1">
             		
                       <label>Photo :</label>
                       <img th:src="@{'/getImage/'+${spectacle.image.Id}}" width="100" height="150">
						<input type="file" class="form-control" name="photo" > 
                    </div>  
                  </div>
                  <div class="col-md-12">
                      <div class="form-group">
                        <label>Description : </label>
                        <textarea class="form-control" name="description" rows="4" cols="50" th:text="${spectacle.description}"></textarea>
                      </div>
                    </div> 
                    <input type="hidden" th:value="${spectacle.id}" name="id">
                 <button type="submit" class="btn btn-primary btn-block">Modifier</button>
                  
                  
                </form>
              </div>
            </div>
          </div>
</div>
</body>
</html>